<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <li>
      <%= link_to item.title, item_path(item) %> -  $<%=item.price.to_f/100%>
      <%#=form_for item, line_items_path(item.id)  do |f| %>
        <%#= f.submit 'Add to Cart'%>
      <%# end %>
      <%=form_tag line_items_path(item.id)  do %>
        <%= submit_tag 'Add To Cart'%>
      <% end %>
       
    </li>
<% end %>
</ul>